<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context
  http://www.springframework.org/schema/context/spring-context.xsd"
        >

    <bean id="greetingService" class="orgProfiles.webserviceJersey.GreetingServiceImpl"/>

    <bean class="orgProfiles.webserviceJersey.DateTimeService" scope="request"/>

    <bean class="orgProfiles.webserviceJersey.SpringSingletonResource"/>

    <bean class="orgProfiles.webserviceJersey.SpringRequestResource" scope="request"/>

    <bean class="orgProfiles.webserviceJersey.CustomExceptionMapper"/>
    <bean class="orgProfiles.webserviceJersey.TestService"/>

</beans>